body.lala_maid:before {
	background-image: url('/img/lala_maid.jpg');
}
body.lala_goku::before {
	background-image: url('/img/lala_goku.jpg');
}
body.lala_idol::before {
	background-image: url('/img/lala_idol.jpg');
}

body::before {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	display: block;
	position: fixed;
	height: 100vh;
	width: 100%;
	content: "";
	z-index: -1;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

div.content {
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
}

h2 {
	text-indent: 1em;
	border-left: 3px solid #000000;
	border-bottom: 1px solid #000000;
}

p {
	text-indent: 1em;
}

footer {
	margin: 4em 0 0 0;
	padding: 1em 1em 1em 1em;
	font-size: 12px;
}

@media only screen and (min-width: 768px) {
	div.content {
		width: 40em;
		padding: 2em;
	}
}
@media only screen and (max-width: 767px) {
	body {
		margin: 0;
	}

	div.content {
		padding: 0;
	}

	h1 {
		padding: 0.5em 0 0 0.5em;
		margin: 0;
	}
	h2 {
		border-left: 3px solid #000000;
		border-bottom: 1px solid #000000;
	}
	h3 {
		text-indent: 1em;
	}
	p {
		margin: 0;
		padding: 0 16px;
	}
	p.nopadding {
		padding: 0;
	}
	span.delimiter {
		display: none;
	}
	span.gamename {
		padding: 0.5em;
		font-weight: bold;
		display: block;
	}

	a.outlink {
		display: block;
		width: max-width;
		padding: 1em 0 1em 1em;
		text-decoration: none;
		color: rgb(255,255,255);
		font-weight: bold;
	}
	a.outlink:hover {
		padding: 1em 0 1em 2em;
	}

	a.twitter {
		background-color: rgba(85,172,238,0.5);
	}
	a.twitter:hover {
		background-color: rgba(85,172,238,1);
	}
	a.tumblr {
		background-color: rgba(54,70,93,0.5);
	}
	a.tumblr:hover {
		background-color: rgba(54,70,93,1);
	}
	a.lastfm {
		background-color: rgba(185,0,0,0.5);
	}
	a.lastfm:hover {
		background-color: rgba(185,0,0,1);
	}
	a.twitch {
		background-color: rgba(100,65,165,0.5);
	}
	a.twitch:hover {
		background-color: rgba(100,65,165,1);
	}
	a.github {
		background-color: rgba(23,21,21,0.5);
	}
	a.github:hover {
		background-color: rgba(23,21,21,1);
	}
	a.kkt {
		background-color: rgba(252,33,125,0.5);
	}
	a.kkt:hover {
		background-color: rgba(252,33,125,1);
	}
	a.xiv_setuu {
		background-color: rgba(129,59,60,0.5);
	}
	a.xiv_setuu:hover {
		background-color: rgba(129,59,60,1);
	}
	a.xiv_sesetsu {
		background-color: rgba(64,110,51,0.5);
	}
	a.xiv_sesetsu:hover {
		background-color: rgba(64,110,51,1);
	}
	a.aikt_yuki {
		background-color: rgba(232,56,102,0.5);
	}
	a.aikt_yuki:hover {
		background-color: rgba(232,56,102,1);
	}
	a.aikt_akira {
		background-color: rgba(5,96,169,0.5);
	}
	a.aikt_akira:hover {
		background-color: rgba(5,96,169,1);
	}
}
